<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>LightAPT Desktop</title>
    <link rel='Shortcut Icon' type='image/x-icon' href='/static/textures/icon.ico'>

    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/desktop.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/layer.min.js"></script>
    <script type="text/javascript" src="/static/js/desktop.js"></script>
    <style>
        * {
            font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu
        }

        /*磁贴自定义样式*/
        .win10-block-content-text {
            line-height: 44px;
            text-align: center;
            font-size: 16px;
        }
    </style>
    <script>
        Win10.onReady(function () {

            //设置壁纸
            Win10.setBgUrl({
                main: '/static/textures/desktop.jpg',
                mobile: '/static/textures/desktop-mobile.jpg',
            });

            Win10.setAnimated([
                'animated flip',
                'animated bounceIn',
            ], 0.01);
        });
    </script>
</head>

<body>
    <div id="win10">
        <div class="desktop">
            <div id="win10-shortcuts" class="shortcuts-hidden">
                <div class="shortcut"
                    onclick='Win10.openUrl("/client","<i class=\"fas fa-telescope icon\"></i>LightAPT")'>
                    <i class="fas fa-telescope icon"></i>
                    <div class="title">LightAPT</div>
                </div>
                <div class="shortcut"
                    onclick='Win10.openUrl("/novnc","<i class=\"fas fa-page icon black-green\"></i>noVNC")'>
                    <img class="icon" src="/static/textures/icons/novnc-192x192.png">
                    <div class="title">noVNC</div>
                </div>
            </div>
            <div id="win10-desktop-scene"></div>
        </div>
        <div id="win10-menu" class="hidden">
            <div class="list win10-menu-hidden animated animated-slideOutLeft">
                <div class="item" onclick="Win10.exit()">
                    <i class="black icon fas fa-power-off fa-fw"></i><span class="title">关闭</span>
                </div>
                <div class="item" onclick="window.open('/logout');window.close()">
                    <i class="black icon fas fa-right-from-bracket fa-fw"></i><span class="title">登出</span>
                </div>
            </div>
            <div class="blocks">
                
            </div>
            <div id="win10-menu-switcher"></div>
        </div>
        <div id="win10_command_center" class="hidden_right">
            <div class="title">
                <h4 style="float: left">消息中心 </h4>
                <span id="win10_btn_command_center_clean_all">全部清除</span>
            </div>
            <div class="msgs"></div>
        </div>
        <div id="win10_task_bar">
            <div id="win10_btn_group_left" class="btn_group">
                <div id="win10_btn_win" class="btn"><i class="fas fa-window"></i></div>
                <div class="btn" id="win10-btn-browser"><i class="fas fa-spider-web"></i></div>
            </div>
            <div id="win10_btn_group_middle" class="btn_group"></div>
            <div id="win10_btn_group_right" class="btn_group">
                <div class="btn" id="win10_btn_time"></div>
                <div class="btn" id="win10_btn_command"><span id="win10-msg-nof" class="fas fa-comment-o"></span></div>
                <div class="btn" id="win10_btn_show_desktop"></div>
            </div>
        </div>
    </div>
</body>

</html>